[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.10"
django = ">=2.2.13"
pytz = "==2020.1"
sqlparse = "==0.3.1"
gunicorn = "==20.0.4"
pandas = "==1.0.5"

[dev-packages]

[requires]
python_version = "3.8"
