.base h3, .base h2 {
    color: #3D497C;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
}

.base-add-member h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
    color: #000000;
}

.members-functions h4 {
    padding-left: 30px;
    font-family: 'Bebas Neue', cursive;
}

.index-familymembers-az {
    padding-left: 30px;
    font-family: 'Nanum Gothic Coding', cursive;
}

.az-list {
    padding-left: 40px;
    font-family: 'Nanum Gothic Coding', cursive;
}

.add-new-members {
    padding-left: 30px;
    color: #000000;
    font-family: 'Nanum Gothic Coding', cursive;
    font-size: 10pt;
}

.add-new-members h3 {
    font-family: 'Bebas Neue', cursive;
}

.member-info {
    padding-left: 40px;
    color: #000000;
    font-family: 'Nanum Gothic Coding', monospace;
}

.member-info h2 {
    color: #000000;
    font-size: 20pt;
    font-family: 'Nanum Gothic Coding', monospace;
}

.about-description {
    color: #000000;
    font-family: 'Nanum Gothic Coding', cursive;
    font-size: 15pt;
    padding-left: 40px;
}


.footer-about h4 {
    padding-top: 40px;
    padding-left: 30px;
    font-family: 'Bebas Neue', cursive;
}

body {
    margin: auto;
    width: 50%;
    padding: 10px;
}

