{% extends 'familycards/base.html' %}
{% block content %}

<div class="about-description">
    <br>
    <p>This is a program for genealogical database.</p>
    <p>You can import .csv file with data about your relatives.</p>
    <p>Here is a <a href="{% url 'export_csv' filename='header.csv' %}">.csv file</a> with a header</p>
    <p>Here is an example of .csv file with prefilled data about <a href="{% url 'export_csv' filename='hesse_family.csv' %}">Hermann Hesse's family</a></p>


</div>

{% endblock %}
