
<html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %}Family Archive{% endblock %}</title>
   </head>
   <body>
       <h2><a href="{% url 'index' %}">Family Archive</a></h2>
       <h4><a href="{% url 'view_tree' %}">Family Tree</a></h4> <h4><a href="{% url 'index' %}">Family Cards</a></h4>
       {% block content %}

       {% endblock %}
   </body>



</html>