{% load static %}
<html>

    <head>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>


        <link rel="stylesheet" href="{% static 'css/familycards.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300&display=swap" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Gothic+Coding&family=Ubuntu:wght@300&display=swap" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %}Family Archive{% endblock %}</title>
   </head>
   <body>


          <div class="base">
              <h2><a href="{% url 'index' %}">Family Cards</a></h2>
              <h3><a href="{% url 'view_tree' %}">Family Tree</a></h3>
          </div>
          <div class="base-add-member">
              <h3><a href="{% url 'add_members' %}">Add New Family Members</a></h3>
          </div>


          {% block content %}
          {% endblock %}
   </body>



</html>
