{% extends 'familycards/base.html' %}
{% block content %}

<div class="index-familymembers-az">
   {% if family_members %}
       <ul>
       {% for family_member in family_members %}
           {% ifchanged family_member.first_name.0 %}<h4>{{family_member.first_name.0}}</h4>{% endifchanged%}
           <li><a href="{% url 'view_member' slug=family_member.slug %}">{{ family_member.first_name }} {{ family_member.last_name }}</a></li>
       {% endfor %}
       </ul>
   {% else %}
       <p>No family members added. Read <a href="{% url 'about' %}"about how to use the app</p>
   {% endif %}
</div>


<div class ='members-functions'>
    <li><a href="{% url 'delete_all' %}">delete all</a></li>
    <li><a href="{% url 'export_csv' filename='export_family.csv' %}">export all</a></li>

</div>


{% endblock %}

